# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# =========================
# Project files
# =========================
brahma/brahma.3dsx
brahma/brahma.elf
brahma/brahma.smdh
brahma/build/
brahma/data/payload.bin
brahma/data/payload/build/
data.bin
msethax/build/
msethax/mset.bin
msethax/payload/build/
msethax/rxinstaller.nds
msethax/rxinstaller/build/
msethax/rxinstaller/data/
payload.bin
release/mset/
release/ninjhax/
release/rxTools.dat
rxTools.dat
rxmode/build/
rxmode/patch.bin
rxtools/build/
rxtools/rxtools.bin
tools/addxor_tool
tools/cfwtool
tools/fill_with_crap
tools/fill_with_zero
tools/pack_tool
tools/xor
